<div class="slider-controls">
    <a data-slider-action="previous">&#x276e;</a>
    <a data-slider-action="next">&#x276f;</a>
</div>

<div class="slider-title">
    <h1>4'33'' Dunas</h1>
</div>
<audio src="audio/mar.mp3"></audio>
<div id="main-slider" class="slider">
    <img src="imagenes/433/1.jpg" />
    <img src="imagenes/433/2.jpg" />
    <img src="imagenes/433/3.jpg" />
    <img src="imagenes/433/4.jpg" />
    <img src="imagenes/433/5.jpg" />
    <img src="imagenes/433/6.jpg" />
    <img src="imagenes/433/7.jpg" />
    <img src="imagenes/433/8.jpg" />
    <img src="imagenes/433/9.jpg" />
    <img src="imagenes/433/10.jpg" />
    <img src="imagenes/433/11.jpg" />
    <img src="imagenes/433/12.jpg" />
</div>

<div class="columns">
    <div class="column column-medios">
        <p><em>4'33'' Dunas. </em>Las dunas son algunos de los lugares más silenciosos del planeta, antes estas dunas eran mar.</p>
    </div>
    <div class="column column-medios">
        <h3><em>4'33'' Dunas. </em>Dunes are one of the most silent places on earth, a long time ago, these dunes were part of the sea.</h3>
    </div>    
</div>