<div class="slider-controls">
    <a data-slider-action="previous">&#x276e;</a>
    <a data-slider-action="next">&#x276f;</a>
</div>

<div class="slider-title">
    <h1>Anfibio</h1>
</div>

<div id="main-slider" class="slider">
    <img src="imagenes/anfibio/1.jpg" />
    <img src="imagenes/anfibio/2.jpg" />
    <img src="imagenes/anfibio/3.jpg" />
</div>
