<div class="slider-controls">
    <a data-slider-action="previous">&#x276e;</a>
    <a data-slider-action="next">&#x276f;</a>
</div>

<div class="slider-title">
    <h1>Estructura</h1>
</div>


<div id="main-slider" class="slider">
    <img src="imagenes/estructura/1.jpg" />
    <img src="imagenes/estructura/2.jpg" />
    <img src="imagenes/estructura/3.jpg" />
    <img src="imagenes/estructura/4.jpg" />
    <img src="imagenes/estructura/5.jpg" />
    <img src="imagenes/estructura/66.png" />
    <img src="imagenes/estructura/77.png" />
    <img src="imagenes/estructura/88.png" />
    <img src="imagenes/estructura/99.png" />
    <img src="imagenes/estructura/10.jpg" />
    <img src="imagenes/estructura/11.jpg" />
</div>

<div class="columns">
    <div class="column column-medios">
        <p><em>Estructura.</em> Estancamiento o fortaleza.
        Los íconos y las representaciones religiosas forman la estructura mental, construyendo visualmente una lógica cotidiana y habitual que determina la manera de negociar con la vida y la merte.
        Un mensaje primario fundamental.</p>
    </div>
    <div class="column column-medios">
        <h3><em>Structure.</em> Stagnation or strength.
        As a fundamental primary message, religious icons and representations mold mental structure, visually building habits and a day-to-day logic which defines the negotiation with life and death. A fundamental message.</h3>
    </div>    
</div>