<div class="slider-controls">
    <a data-slider-action="previous">&#x276e;</a>
    <a data-slider-action="next">&#x276f;</a>
</div>

<div class="slider-title">
    <h1>Fósforo y Mármol</h1>
</div>


<div id="main-slider" class="slider">
    <img src="imagenes/fosforo/1.jpg" />
    <img src="imagenes/fosforo/2.jpg" />
    <img src="imagenes/fosforo/3.jpg" />
    <img src="imagenes/fosforo/4.jpg" />
    <img src="imagenes/fosforo/5.jpg" />
</div>

<div class="columns">
    <div class="column column-medios">
        <p><em>Fósforo y mármol.</em> Los minerales como la base fundamental de una atmósfera, de un carácter, de una ideología.
		Un paisaje arcaico.</p>
    </div>
    <div class="column column-medios">
        <h3><em>Phosphorus and marble.</em> Minerals as the fundamental basis of an atmosphere, of a character, of an ideology.
		An archaic landscape.</h3>
    </div>    
</div>