<body>
	<div class="columns">
	<h3>María José Sesma<br>Torreón, Coahuila, 1983.<br>
	mariajose.sesma@gmail.com</h3>
   	 <div class="column column-medios">

		<p>Su principal interés es la crítica social, las causas y los efectos del comportamiento humano y las dinámicas sociales, así como su relación con el espacio y los íconos, que moldean y son moldeados. </p>
		<p>Ha realizado estudios en el Programa Educativo SOMA (2013-2014), 17 Instituto de Estudios Críticos, Campus Expandido, MUAC, Seminario de Fotografía Contemporánea, Centro de la Imagen (2010), entre otros.</p>
		<p>Becaria del programa Jóvenes Creadores FONCA, en 2011-2012, en el cual desarrolló el proyecto Todo en Orden.
		Obtuvo mención honorífica en el Concurso de Fotolibro latinoamericano Editorial RM (2012) , Artemergente, Bienal nacional de Monterrey (2012), Bienal Héctor García (2013), Premio de Adquisición en Festival Fotográfico Portfolio (2012), cuenta con exposiciones colectivas en México y Estados Unidos. Ha sido publicada en revistas como PICNIC, Caviar Izquierda, LAT Photo Magazine, entre otras.</p>
		 
		
    </div>
    <div class="column column-medios">

		<h3>Interested in social criticism, the causes and effects of human behavior and social dynamics, and its relation to space and icons that shape us and are shaped simultaneously.</h3>
		<h3>Studied in Educational Program SOMA (2013-2014), 17 Critical Studies Institute, Campus Expandido, MUAC, Contemporary Photography Seminar, Centro de la Imagen (2010), among others.  In 2011, she obtained the young creator’s grant (FONCA), where she developed her project Everything’s in Order.</h3>
		<h3>Has been awarded in International Photography Awards (2012), Honorable mention on Latinamerican Photobook Contest, Editorial RM, (2012), Hector Garcia Biennale (2013), Artemergente, National Monterrey Biennale, (2012), has collective exhibitions on Mexico and United States.  Published in art magazines as PICNIC, Caviar Izquierda, LAT Photo Magazine, among others.</h3>
		<h6><a href="pdf/cv_mariajosesesma_espanol.pdf" target="cv_español">cv_español.pdf</a><br>
		<a href="pdf/cv_mariajosesesma_english.pdf" target="cv_english">cv_english.pdf</a></h6>
    </div>    
</div>

</body>
