.slider {
	margin-bottom: -6px;
	height:inherit;
	width:inherit;
	overflow: hidden;
	position: relative;
}

.slider > * {
	display: none;
	width:inherit;
}

.slider .columns {
	height: inherit;
}

.slider .columns .column {
	height: inherit;
}

[data-slider-index] {
	width:30px;
	text-align: center;
	display: inline-block;
	color: grey;
	font-size: 0.8em;
}

[data-slider-action] {
	font-size: 1.6em;
	cursor: pointer;
	font-weight: 100;

}

.slider .introduction {
	width: inherit;
	height: inherit;
	.text-container {
		height: inherit;
		position: absolute;
		left:0;
		top:0;
		width:33.333%;
		overflow: hidden;
		background-color: white;
	}

	.text {
		position: absolute;
		bottom: 0;
		width:100%;
		padding-right: 50px;		

		p {
			font-size: 0.7em;
			letter-spacing: 0.4px;
			color: rgba(75,75,75,1);
			padding-bottom: 10px;
		}		
	}

	.cover-image {
		overflow: hidden;
	}
}

.slider-controls {
	float:left;
	@include noselect;
}

.slider-controls > * {
	vertical-align: middle;
}